.slider-box{
    width:80%;
    align-self: center;
  }
  .slick-next:before {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-size: 2.125rem !important;
  }
  
  .slick-prev::before {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-size: 2.125rem !important;
  }
  
  .slick-next {
    right: 23px !important;
  }
  
  .slick-prev {
    left: 10px !important;
    z-index: 999 !important;
  }
  
  .main-grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-slider-container {
    
  }
  